{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<h2 style="margin-bottom: 20px">LOG IN</h2>
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username"
            type="text" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
    </div>
    <a href="/forgot">Forgot Password</a>
    <div class="form-group mt-2">
    <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>
{% endblock %}
